.card{
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    border: 1px solid black;
    overflow: hidden;
    background-color: darkgray;
    margin-left: 7px;
}
.age{
    border: 1px solid black;
    text-align: center;
    padding: 5px 0px;
}
.club{
    text-align: center;
    padding: 5px 0px;
}